body {
	background-color: aquamarine;
	text-align: center;
}

img.inCircle {
	width: 128px;
	height: 128px;
	border-radius: 100%;
}

img#arrow {
	width: 32px;
	height: 32px;
	border-radius: 100%;
}

div#bannerDiv {
	background-color: lightgray;
	margin: auto;
	padding-top: 12px;
	padding-left: 8px;
	padding-right: 8px;
	padding-bottom: 0px;
	margin-top: 0px;
	width: 512px;
	height: 128px;
}

div#bannerText {
	background-color: white;
	margin: auto;
	margin-top: 16px;
	width: 512px;
	height: 128px;
	margin-bottom: 80px;
}

img#bannerImage {
	margin: auto;
	width: 500px;
	height: 116px;
}

div#arrowImage {
	border-style: solid;
	border-width: 4px;
	border-color: lightgray;
	width: 50px;
	height: 50px;
	background-color: white;
	border-radius: 100%;
	margin: auto;
	margin-top: -445px;
	margin-bottom: -16px;
}

img.circleImg {
	width: 128px;
	height: 128px;
	border-radius: 100%;
}

div#circle1 {
	border-style: solid;
	border-width: 4px;
	border-color: lightgray;
	border-radius: 100%;
	margin: auto;
	margin-top: -130px;
	margin-left: 200px;
	background-color: white;
	width: 128px;
	height: 128px;
}

div#circle2 {
	border-style: solid;
	border-width: 4px;
	border-color: lightgray;
	border-radius: 100%;
	margin: auto;
	background-color: white;
	width: 128px;
	height: 128px;
}

div#circle3 {
	border-style: solid;
	border-width: 4px;
	border-color: lightgray;
	border-radius: 100%;
	margin: auto;
	margin-top: -130px;
	margin-right: 200px;
	background-color: white;
	width: 128px;
	height: 128px;
}

h1.title {
	font-family: "Times New Roman";
	color: white;
	text-align: center;
	margin: 32px;
}

h2.title {
	font-family: "Times New Roman";
	color: white;
	text-align: center;
	margin-bottom: -8px;
	margin: 32px;
}

div#fakeWrapper {
	background-color: white;
	margin: auto;
	margin-top: 32px;
	margin-bottom: 0px;
	height: 25px;
}
div#wrapper {
	background-color: white;
	margin-top: 0px;
	margin: auto;
	padding-top: 32px;
}
